name: Test tap-jira

on:
  push:
    branches: [ main ]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_jira/**
    - pyproject.toml
    - poetry.lock
    - tox.ini
  pull_request:
    branches: [ main ]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_jira/**
    - pyproject.toml
    - poetry.lock
    - tox.ini
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ">=0.5"
    - run: uvx --with tox-uv tox -e lint

  pytest:
    name: Python ${{ matrix.python-version }} - pytest
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ">=0.9"
    - name: Test with pytest
      env:
        TAP_JIRA_DOMAIN: ${{ secrets.TAP_JIRA_DOMAIN }}
        TAP_JIRA_API_TOKEN: ${{ secrets.TAP_JIRA_API_TOKEN }}
        TAP_JIRA_EMAIL: ${{ secrets.TAP_JIRA_EMAIL }}
      run: uvx --with tox-uv tox -e ${{ matrix.python-version }}
